@media screen and (min-width:1080px){
    .navbar-inner, #page {
        width: 90%;
        margin: 0 auto;
        padding: 0;
    }
    #page .articles {
        width: 70%;
        display: inline-block;
        float: left;
        padding: 0px;
    }
    #sidebar {
        width: 25%;
        padding-left: 5%;
        display: inline-block;
    }
}
@media screen and (max-width:1079px){
    .navbar-inner, #page {
        width: 95%;
        margin: 0 auto;
        padding: 0;
    }
    #page .articles {
        width: 100%;
        display: block;
        float: none;
        padding: 0px;
    }
    #sidebar {
        width: 100%;
        display: block;
    }
}
@media screen and (max-width:400px){
    html { font-size: 62.5%; }
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    color: #333;
}

h1, h2, h3 {
    font-weight: normal;
}
.clear {
    clear: both;
}
.muted {
    color: #999999;
}
.navbar .brand {
    font-size: 1.25em;
}
#page {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -4em;
}
#footer, .push-footer {
    height: 6em;
    clear: both;
}

a, a:hover {
    color: #444;
    text-decoration: none;
}

.navbar {
    overflow: hidden;
    color: #555;
    background-color: #fafafa;
    background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
    background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
    border: 1px solid #d4d4d4;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}
.navbar .active a {
    font-weight: bold;
}
.navbar .navbar-links {
    display: inline-block; 
    list-style: none;
    padding: 0px;
}
.navbar .navbar-links li {
    display: inline-block;
    width: 4em;
    text-align: center;
}
.navbar-fixed-top, .navbar-fixed-bottom {
    position: static;
}

.navbar .navbar-inner {
    margin: 0 auto;
}

.page-header {
    line-height: 4rem;
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 1rem;
}

#page .page-header {
    font-size: 1.5em;
}

.articles .article-header {
    padding-bottom: 3em;
    line-height: 2em;
}
.article .article-header {
    line-height: 3em;
}

#page .article-header h2 {
    margin: 0;
}

#page .article-content a {
    text-decoration: underline;
}

#page .article {
    height: 100%;
    margin: 0 auto;
}

#sidebar .page-header {
    font-size: 1.2em;
    text-align: left;
}
.page-footer {
    line-height: 3em;
    margin: 1em 0;
    border-top: 1px solid #eeeeee;
}

ul.pager {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

ul.pager li {
    display: inline;
}

ul.pager li.previous {
    float: left;
}
ul.pager li.next {
    float: right;
}

.tag {
    color: #333;
    background-color: #eee;
    background-image: linear-gradient(#fcfcfc, #eee);
    border: 1px solid #eee;
    padding: 1px 10px;
}

ul.tags {
    display: inline-block;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

ul.tags li {
    display: inline;
    margin-right: 0.25em;
    line-height: 2.5em;
}

dd {
    margin: 0 0 1em 2em;
}

blockquote {
    padding: 0 0 0 15px;
    margin: 0 0 1.5em;
    border-left: 5px solid #eeeeee;
}

.org-src-container {
    overflow: auto;
}
.org-ul {
    padding-left: 1em;
}
