body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

#header {
  padding: 1em;
}

.field {
  display: inline-block;
  float: left;
  width: 50%;
}

#question,
#answer {
  font-family: "Charis SIL", "Doulos SIL", "Gentium", "GentiumAlt",
    "DejaVu Sans", "Code2000", "TITUS Cyberbit Basic", "Arial Unicode MS",
    "Lucida Sans Unicode", "Chrysanthi Unicode";
}

#content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto 0;
  height: 6em;
  padding: 4em 1em;
  text-align: center;
  font-size: 1.5em;
}

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  z-index: 99;
  font-size: 1.5em;
  padding: 1em;
}

#control a {
  -webkit-border-radius: 0.3125em;
  border-radius: 0.3125em;
  padding: 0.25em 1em;
}
