body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

#header {
  width: 100%;
  text-align: center;
}

.ui-select {
  display: inline-block;
}

.ui-select .ui-btn {
  min-width: 10em;
}

#content {
  text-align: center;
  font-size: 1.5em;
  position: relative;
}

.pause #content {
  background-color: #e9e9e9;
}

.pause #progress-bar {
  background-color: #f6f6f6;
}

#word {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto 0;
  height: 6em;
  padding: 0 1em;
  font-family: "Charis SIL", "Doulos SIL", "Gentium", "GentiumAlt",
    "DejaVu Sans", "Code2000", "TITUS Cyberbit Basic", "Arial Unicode MS",
    "Lucida Sans Unicode", "Chrysanthi Unicode";
}

#message {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.star #question {
  font-weight: bold;
}

#footer {
  width: 100%;
  font-size: 1.5em;
  text-align: center;
}

#control span {
  -webkit-border-radius: 0.3125em;
  border-radius: 0.3125em;
  padding: 0.25em 1em;
}

#control span.active {
  -webkit-box-shadow: 0 0 12px #3388cc /*{a-active-background-color}*/;
  -moz-box-shadow: 0 0 12px #3388cc /*{a-active-background-color}*/;
  box-shadow: 0 0 12px #3388cc /*{a-active-background-color}*/;
}

.ui-icon-pause:after {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%20Tiny%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11-tiny.dtd%22%3E%3Csvg%20version%3D%221.1%22%20baseProfile%3D%22tiny%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2216px%22%20height%3D%2216px%22%20viewBox%3D%220%200%20500%20500%22%20xml%3Aspace%3D%22preserve%22%3E%20%3Cpath%20d%3D%22M428.571%2053.571v392.857q0%207.254-5.301%2012.556t-12.556%205.301h-142.857q-7.254%200-12.556-5.301t-5.301-12.556v-392.857q0-7.254%205.301-12.556t12.556-5.301h142.857q7.254%200%2012.556%205.301t5.301%2012.556zM178.571%2053.571v392.857q0%207.254-5.301%2012.556t-12.556%205.301h-142.857q-7.254%200-12.556-5.301t-5.301-12.556v-392.857q0-7.254%205.301-12.556t12.556-5.301h142.857q7.254%200%2012.556%205.301t5.301%2012.556z%22%20fill%3D%22%23ffffff%22%20%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
}

.ui-nosvg .ui-icon-pause:after {
  background-image: url("pause.png");
}

#progress-container {
  width: 100%;
  height: 0.2em;
  padding-bottom: 1em;
  top: -1em;
  position: absolute;
}

#progress-box {
  width: 96%;
  height: 0.2em;
  padding: 0.4em 0;
  margin: auto;
}

#progress-bar {
  width: 100%;
  height: 0.2em;
  background-color: #e9e9e9;
  -webkit-border-radius: 0.1em;
  border-radius: 0.1em;
}

#progress {
  width: 0%;
  height: 0.2em;
  background-color: #8d8d84;
  -webkit-border-radius: 0.1em;
  border-radius: 0.1em;
}
