/* Following are the note styles -- edit away! */

body {
	margin: 0;
	padding: 1.0em;
	background: #333; 
	color: #FFF;
	font: 2em/1.4em 'Lucida Grande', Verdana, sans-serif;
}

#timer {float:right; position:absolute; right:1.5em; top:1.5em; color:#999999}
#timeLeft {padding:0 0.5em;}

.overtime {
	background: yellow;
	color: red;
	border: 3px solid;
	padding: 0.1em 0.25em;
	font-weight: bold;
}

#slide,
#next,
#notes,
#nextnotes {
	font-size: 0.75em;
	line-height: 1.4em;
	clear: left;
/*	max-width: 30.0em; */
	text-shadow: 0.1em 0.1em 0.1em #111;
}

#next {margin-top: 2.5em;}
#next, #nextnotes {
	color: #999;
	font-size: 0.66em;
}

td, th {
    padding-left: 0.5em;
    padding-right: 0.5em;
}
